.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
}
.pageTitle {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
} 

.memberBio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px;
    padding: 30px;
}
.memberBio h2 {
    font-weight: bolder;
    margin: 10px;
    flex: 1;
}
.memberBio h3 {
    font-weight: bold;
    margin: 15px;
    flex: 1;
}

.memberBio p {
    flex: 3;
}