@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.heroImg {
    background-image: url('/heroImg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    position: relative;
}

.heroContent{
    position: absolute;
    top: 35%;
    left: 55%;
    color: #000;
    text-align: center;
    font-size: 3rem;
    width: 30%;
    font-family: 'Satisfy', cursive;
}

.heroContent button{
    background-color: rgb(177, 102, 109);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.heroContent button:hover{
    background-color: rgb(177, 102, 109);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}   

@media (max-width: 1000px) {
    .heroContent{
        position: absolute;
        top: 35%;
        left: 55%;
        color: #000;
        text-align: center;
        font-size: 2.5rem;
        width: 30%;
    }

    .heroImg {
        background-image: url('/heroImg1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 400px;
        position: relative;
    }
}

@media (max-width: 500px) {

    .heroContent{
        position: absolute;
        top: 35%;
        left: 55%;
        color: #000;
        text-align: center;
        font-size: 1.8rem;
        width: 30%;
    }

    .heroImg {
        background-color: rgba(255, 255, 255, 0.5);
        height: 300px;

    }
    
}