.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pageTitle {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    padding-top: 65px;
} 

.memberBio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap:15px;
    margin: 25px;
    padding: 30px;
}

.memberBio img {
    height: 250px;
    width: 250px;
}

.memberInfo{
    line-height:1.6;
}

.memberBio:nth-child(even) {
    flex-direction: row-reverse;
}

@media (max-width: 600px) {
    .memberBio {
        flex-direction: column;
    }

    .memberBio:nth-child(even) {
        flex-direction: column;
    }
    .memberBio img {
        height: 100%;
        width: 100%;
    }
}