@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 13px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  background-color: rgb(177, 102, 109);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover{
  background-color: rgb(177, 102, 109);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}  

h1, h2, h3, h4, h5, h6 {
  font-family: 'Satisfy', cursive;
}